__pycache__
*.png
*.jpg
*.gif
*.JPG
*.jpeg
*.svg
*.pt
*.xml
*.pth
0*
_0*
*_0*
*.txt
*.swp
hist*
*results
.venv

.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover